:root {
  --primary-font: 'Noto Sans', sans-serif;
  --header-color: #65743a;
  --background-color: #f8fff4;

  --padding: 20px;
}

body {
  height: 100vh;
  background: var(--background-color);
  font-family: var(--primary-font);
  /* background-image: url('/public/pokecenter.jpeg');
  background-size: cover;
  background-repeat: no-repeat; */

* {
  box-sizing: border-box;
}